.footerSection {
  background-color: $deepBlueBase;
  width: 100%;
  border-top: $boxShadow solid 9px;
}

.container {
  width: $containerWidth;
  max-width: $containerMaxWidth;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: $deepBlueBase;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  align-items: center;
}
/* FORM */
.ContactUsFormContainer {
  border-right: solid $sendButton;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 2rem 0;

  .ContactUsText {
    color: $white;
    font-size: 2.2rem;
    font-size: calc(4.1vw + 0.6rem);
    margin-bottom: 2rem;
  }

  /* Form container: email+msg+button */
  .formContainer {
    background: $white;
    border-radius: 20px;
    padding: 35px;

    /* Email */
    .nameBox,
    .emailBox {
      padding-bottom: 20px;
      .nameText,
      .emailText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $textColor;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .nameInput,
      .emailInput {
        margin-left: 20px;
        border-radius: 20px;
        flex: 2;
        border: 1px solid $boxOutline;
        height: 30px;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding: 1.2rem;
        font-size: 1rem;
        outline: 0;
      }
    }

    /* Msg */
    .msgBox {
      padding-bottom: 20px;
    }

    .MessageText {
      p {
        padding-bottom: 20px;
      }
      color: $textColor;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .msgInput {
      background-color: $white;
      height: 200px;
      width: 100%;
      padding: 1.2rem;
      border-radius: 20px;
      border: 1px solid #707070;
      resize: none;
      outline: 0;
    }

    /* Send button */
    .buttonBox {
      display: flex;
      justify-content: flex-end;
    }
    .button {
      background: $sendButton;
      border-radius: 50px;
      padding: 8px 35px;
      color: $white;
      text-align: center;
      font-size: 1.2rem;
      border: 1px solid transparent;

      &:focus {
        outline: 0;
      }
    }
  }
}

/* SOCIAL MEDIA BOX */

.socialMediaContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 10px 0;
  padding: 50px 0;
  width: 100%;
}

.socialMediaText {
  color: $white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.allSocialIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
}
.socialIconsImg {
  text-align: center;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}

/* Counter*/
.GlobalShapersCountContainer {
  text-align: center;
  padding: 10px 10px 10px 10px; //text inside
  padding: 1.5rem 0;
}

/* Text decoration in count */
.GlobalShapersCountText {
  color: $white;
  font-size: 1rem;
  font-weight: 700;
}

.GlobalShapersCountText2 {
  color: $white;
  font-size: 0.9rem;
  font-style: italic;
}

.GlobalShapersCountNumber {
  color: $white;
  font-size: 1rem;
  font-weight: 700;
}
/* Credits and rights BOX (ownedAndDevelopedContainer) */
.ownedAndDevelopedContainer {
  background-color: $boxShadow;
  display: flex; //inside text
  flex-direction: column; //inside text in 2 columns
  align-items: center;
  padding: 1.5rem 0px; //text inside
}

/* text decoration */
.ownedText {
  color: $deepBlueBase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.creditsText {
  color: $deepBlueBase;
  font-size: 0.8rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 900px) {
  .container {
    margin-bottom: 1.5rem;
  }

  .ContactUsFormContainer {
    border-right: none;

    .ContactUsText {
      text-align: center;
      padding-top: 2rem;
    }
  }

  .socialMediaText {
    font-size: 1.4rem !important;
  }
  .GlobalShapersCountContainer {
    border-top: 1px solid $boxShadow;
  }
  .allSocialIconsContainer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
  }
}

/* 600 px-900px */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }

  .ContactUsFormContainer {
    border-right: none;
    padding: 0;
    width: 100%;
  }

  .socialMediaContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }

  .socialMediaText {
    padding-bottom: 8px;
  }

  .allSocialIconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p {
      width: 80px;
    }
  }

  .socialIconsImg {
    img {
      width: 65%;
    }
  }
  .socialMediaText {
    color: $white;
    font-size: 1.8rem;
  }

  .GlobalShapersCountContainer {
    padding-left: 5px;
    padding-right: 5px;
  }
  .GlobalShapersCountText {
    color: $white;
    font-size: 1 rem;
    font-weight: bold;
  }

  .GlobalShapersCountText2 {
    color: $white;
    font-size: 1 rem;
  }

  .GlobalShapersCountNumber {
    color: $white;
    font-size: 1 rem;
    font-weight: bold;
  }
}
/* max 600 px*/
@media only screen and (max-width: 600px) {
  .ContactUsFormContainer {
    border-right: none;
    padding: 0;
    max-width: 100%;
  }

  .formContainer {
    background: $white;
    border-radius: 20px;
    padding: 10px;
  }

  .allSocialIconsContainer {
    display: flex;
    flex-direction: row;
    flex-flow: column;
    justify-content: space-around;
  }

  .socialIconsImg {
    .img {
      width: 85%;
    }
  }

  .socialMediaText {
    color: $white;
    font-size: 1.5rem;
    padding-bottom: 3px;
  }

  .GlobalShapersCountContainer {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .GlobalShapersCountText {
    color: $white;
    font-size: 1 rem;
    font-weight: bold;
  }

  .GlobalShapersCountText2 {
    color: $white;
    font-size: 1 rem;
  }

  .GlobalShapersCountNumber {
    color: $white;
    font-size: 1 rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 420px) {
  .ContactUsFormContainer {
    border-right: none;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin-bottom: 2rem;

    .formContainer {
      background: $white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 1.2rem;

      .nameBox,
      .emailBox {
        padding-bottom: 30px;
        .nameText,
        .emailText {
          flex-direction: column;
          align-items: flex-start;
          span {
            padding-bottom: 0.7rem;
            font-weight: 500;
          }
          .nameInput,
          .emailInput {
            margin-left: 0px;
            width: 100%;
            padding: 0.6rem;
          }
        }
      }
      .MessageText {
        p {
          font-weight: 500;
        }
      }
    }
  }

  .socialMediaContainer {
    padding: 0;
    max-width: 100%;
  }

  .allSocialIconsContainer {
    p {
      width: 50px;
    }
  }

  .socialMediaText {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: 0.15rem;
  }

  .socialIconsImg {
    .img {
      width: 60%;
    }
  }

  .GlobalShapersCountContainer {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  .GlobalShapersCountText {
    padding-right: 2px;
    color: $white;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .GlobalShapersCountText2 {
    color: $white;
    font-size: 0.8rem;
  }

  .GlobalShapersCountNumber {
    color: $white;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 0;
  }

  .ContactUsFormContainer {
    padding: 0;
    width: 100%;
  }

  .socialMediaText {
    text-align: center;
    font-size: 1rem !important;
  }

  .ownedAndDevelopedContainer {
    .ownedText {
      font-size: 1rem;
      margin-bottom: 0.4rem;
    }

    padding: 0.4rem;
    .creditsText {
      text-align: center;
    }
  }
}
