.header {
  padding: 21px 0;
  max-height: 140px;
  border-bottom: 9px solid #b9dff8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: $white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $containerWidth;
    max-width: $containerMaxWidth;
    margin: 0 auto;

    .brandLogo {
      .imgLogo {
        width: calc(7vw + 7.2rem);
      }
      .img {
        width: 100%;
      }
    }

    .navigation {
      .hamburger {
        display: none;
      }

      .navList {
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        .navItem {
          font-size: 1.5rem;
          padding: 1rem;
        }
        .navItem:last-child {
          padding: 1rem 0 1rem 1rem;
        }

        .navLink {
          text-decoration: none;
          color: $deepBlueBase;

          &:hover {
            color: $sendButton;
          }
        }

        .activeNavItem {
          color: $deepBlueBase;
          border-bottom: 4px solid $sendButton;
        }
      }
    }
  }
}

// .activeLink:visited {
//   color: $deepBlueBase;
//   border-bottom: 4px solid $sendButton;
// }

@media only screen and (max-width: 600px) {
  .header {
    .container {
      .navigation {
        position: relative;

        .hamburger {
          outline: 0;
          border: 1px solid transparent;
          position: absolute;
          top: 50%;
          right: 10%;
          transform: translate(-10%, -50%);
          background: $white;
          display: block;
          cursor: pointer;

          div {
            height: 3px;
            width: 25px;
            background-color: $deepBlueBase;
            margin: 4px;
          }
        }

        .navList {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background: $deepBlueBase;
          left: 0;
          top: 88px;
          position: fixed;
          height: 82vh;
          width: 100%;
          clip-path: circle(10vh at 90% -20%);
          -webkit-clip-path: circle(10vh at 90% -20%);
          transition: all 1s ease-out;
          pointer-events: none;

          .navLink {
            color: $white;
            z-index: 999;
          }
          .navItem {
            // z-index: 4;
            opacity: 0;
          }

          .navItem:nth-child(1) {
            transition: all 0.5s ease 0.2s;
          }

          .navItem:nth-child(2) {
            transition: all 0.5s ease 0.4s;
          }

          .navItem:nth-child(3) {
            transition: all 0.5s ease 0.6s;
          }

          .navItem.fade {
            opacity: 1;
          }
        }

        .navList.isOpen {
          z-index: 3;
          clip-path: circle(87vh at 90% -10%);
          -webkit-clip-path: circle(87vh at 90% -10%);
          pointer-events: all;
        }

        .overlay {
          background: transparent;
          z-index: 2;
          height: 90vh;
          top: 88px;
          left: 0;
          position: fixed;
          width: 100%;
        }

        .removeOverlay {
          height: 0;
        }
      }
    }
  }
}
