.newsletterSection {
  margin: 6rem 0;
  .container {
    width: $containerWidth;
    max-width: $containerMaxWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    > * {
      flex: 1;
    }
    .text {
      font-size: calc(1.5vw + 0.6rem);
      color: $deepBlueBase;
      font-weight: 700;
    }
    .newsletterForm {
      display: flex;
      input {
        background: #d9eaf5;
        padding: 0.9rem 2rem;
        font-size: 1rem;
        font-size: calc(0.7vw + 0.5rem);
        font-style: italic;
        color: $deepBlueBase;
        outline: none;
        text-align: center;
        flex: 4;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border: 1px solid transparent;
        display: block !important;

        &::placeholder {
          color: $deepBlueBase;
        }
      }
      button {
        padding: calc(0.5vw + 0.5rem) calc(1.3vw + 0.4rem);
        font-size: calc(1.2vw + 0.5rem);
        font-weight: 700;
        color: white;
        background: $sendButton;
        flex: 1;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 1px solid transparent;
        overflow: hidden;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .newsletterSection {
    margin-bottom: -2rem;
    .container {
      flex-direction: column;
    }

    .newsletterForm {
      input,
      button {
        margin-top: 2rem;
      }
    }
  }
}
