// variables
$deepBlueBase: #044b91;
$sendButton: #2f7bc7;
$ctaButton: #053872;
$white: #fff;
$boxShadow: #b9dff8;
$newsletterBox: #d9eaf5;
$boxOutline: #707070;
$containerWidth: 90%;
$containerMaxWidth: 1600px;
$textColor: #212934;
