.gshCommunity {
  display: flex;
  flex-wrap: wrap;
  //   width: 100%;
}

.flexItem {
  flex: 0 1 50vw;
  width: 100%;
}

// .instagramPictures {
//   display: flex;
//   flex-wrap: wrap;
// }

// .instagramPicture {
//   width: 10vw;
// }

.videoThumbnail {
  width: 300px;
  //   background-image: url(../assets/video-image.png);
  img {
    // width: 100%;
    object-fit: cover;
  }
}

// .wrapper {
//   width: 100%;
// }

h1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 38px;
  text-align: center;
}

.instagramPictures > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.instagramPictures > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //   border: 1px solid black;
}

/* Grid */
.instagramPictures {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 125px;
  grid-auto-flow: dense; /* Fill all spaces with fitted images */
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}
/* Media Queries */

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
